<!DOCTYPE html>
<html lang="en">
    <head></head>
    <body>
        <h2>Region List</h2>
        <svg style="width:100%;">
            <circle cx="52" cy="52" r="30" stroke="green" stroke-width="4" fill="yellow" onclick="location.href='?qry=Seoul'" cursor="pointer"></circle>
            <text fill="black" font-size="10" x="40" y="55" font-family="Verdana">Seoul</text>

            <circle cx="44" cy="114" r="20" stroke="blue" stroke-width="4" fill="red" onclick="location.href='?qry=Jeju'" cursor="pointer"></circle>
            <text fill="black" font-size="10" x="35" y="118" font-family="Verdana">Jeju</text>

            <circle cx="114" cy="134" r="35" stroke="black" stroke-width="4" fill="cyan" onclick="location.href='?qry=Ulsan'" cursor="pointer"></circle>
            <text fill="black" font-size="10" x="100" y="135" font-family="Verdana">Ulsan</text>

        </svg>
        <h3>{{ qry }}</h3>
        <p>{{ desc }}</p>
        <table>
            <tr>
                <th>Tour Name</th>
                <th>Region</th>
                <th>Description</th>
                <th>See this Tour</th>
            </tr>
            {% for i in items %}
            <tr>
                <td>{{i.1}}</td>
                <td>{{i.2}}</td>
                <td>{{i.4}}</td>
                <td><button type="button" onclick="location.href='/ProductList/{{i.0}}'">See this Tour</button></td>
            </tr>
            {% endfor %}
        </table>


        <!--
        <h3>Single Message Test</h3>
        <p>message: {{message}}</p>

        <h3>Multiple Message Iteration Test</h3>
        <ul>
        {% for i in msgs %}
            <li>Message: {{i}}</li>
        {% endfor %}
        </ul>

        <h3>SQL Select Test</h3>
        <ul>
        {% for i in rows %}
            <li>row: {{i}} {{i.0}}</li>
        {% endfor %}
        </ul>

        <h3>SQL Select (with hyperlink) Test</h3>
        <ul>
        {% for i in rows %}
            <li><a href="someprefix-{{i.0}}">Link: {{i}}</a></li>
        {% endfor %}
        </ul>
        -->
    </body>
</html>